*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 81px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.underline {
  margin: 0 auto 140px;
  width: 160px;
  height: 4px;
  background-color: #002A4C;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.blue-text {
  color: #91b9f8;
}

.shadow-bg {
  background-color: #002A4C;
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  z-index: 1;
}

nav .nav-link,
nav a,
nav i {
  color: #cbe7e7;
}

nav .nav-link:hover {
  color: aqua;
}

nav a:hover {
  color: aqua;
}

nav .fa-bars {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: #91b9f8;
}

header {
  color: #cbe7e7;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/becool-mini1.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 10px;
  z-index: 5;
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-chevron-down {
  position: absolute;
  bottom: 50px;
  font-size: 30px;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.aboutus {
  position: relative;
  height: 100%;
  background-image: url("../img/becool-mini1.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  color: #002A4C;
  z-index: 0;
}

.aboutus a {
  text-decoration: none;
  color: #002A4C;
}

.aboutus a:hover {
  color: #044b04;
}

.aboutus .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 202, 236, 0.8);
  z-index: -5;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

.aboutus-card-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.aboutus-card-text {
  font-size: 18px;
  font-weight: bold;
}

.aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.aboutus-hover:hover {
  color: #044b04;
}

.aboutus-hero {
  position: relative;
  background-image: url("../img/pipes_640x425.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 202, 236, 0.8);
  z-index: -5;
}

.aboutus-hero .aboutus-hero-item {
  margin: 10px 0;
}

.aboutus-hero .aboutus-hero-item i {
  font-size: 36px;
}

.aboutus-hero .aboutus-hero-item .aboutus-hero-title {
  font-size: 24px;
}

.portfolio .carousel-item {
  position: relative;
  height: 600px;
}

.portfolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.portfolio .carousel-indicators {
  padding-bottom: 20px;
}

.portfolio .card-body {
  background-color: #91b9f8;
  color: #002A4C;
}

.portfolio h2 {
  padding-top: 40px;
  color: #91b9f8;
}

.portfolio-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}

.portfolio .underline {
  background-color: #91b9f8;
}

.portfolio-img {
  position: relative;
  height: 100%;
  background-image: url("../img/becool-mini.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.contact {
  position: relative;
  background-image: url("../img/contact-hero640.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

.contact h2 {
  padding-top: 30px;
  color: #91b9f8;
}

.contact .underline {
  background-color: #91b9f8;
}

.contact-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 9, 27, 0.8);
  top: 0;
  z-index: -5;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cbe7e7;
}

.contact-us .contact-item {
  margin: 30px 0;
}

.contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-us .contact-item .social-media {
  font-size: 26px;
}

.contact-us .contact-item .social-media a {
  padding: 10px;
  color: #cbe7e7;
}

.contact-us .contact-item .social-media a:hover {
  color: #91b9f8;
}

.footer {
  color: #91b9f8;
  background-color: #002A4C;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}

@media (min-width: 639px) {
  header .hero-img {
    background-image: url("../img/becool-mini.jpg");
  }
  .aboutus {
    background-image: url("../img/becool-mini.jpg");
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 50px;
  }
  header p {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  nav {
    height: 83px;
  }
  .aboutus-hero {
    background-image: url("../img/pipes_1280x851.jpg");
  }
}

@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/becool.jpg");
  }
}
/*# sourceMappingURL=main.css.map */