@import'colors';

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-padding-top: 81px;
}

body {
   position: relative;
   font-family: 'Montserrat',
      sans-serif;
   background-color: #fff;
}

.underline {
   margin: 0 auto 140px;
   width: 160px;
   height: 4px;
   background-color: $darc-color;
}

h2 {
   text-align: center;
   text-transform: uppercase;
}

.blue-text {
   color: $active-color;
}

.shadow-bg {
   background-color: $darc-color;
}

nav {
   text-transform: uppercase;
   transition: background-color .8s;

   .nav-link,
   a,
   i {
      color: $main-color;
   }

   .nav-link:hover {
      color: aqua;
   }

   a:hover {
      color: aqua;
   }

   .fa-bars {
      padding: 10px;
   }

   .navbar-brand {
      font-weight: bold;
   }

   .active {
      color: $active-color;
   }

   z-index: 1;
}

header {
   color: $main-color;

   h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
   }

   .hero-img {
      position: relative;
      height: 100vh;
      background-image: url('../img/becool-mini1.jpg');
      background-position: top center;
      background-size: cover;
      background-attachment: fixed;
      z-index: 0;
   }

   .hero-shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .8);
      z-index: -5;
   }

   .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      text-align: center;
      padding: 10px;
      z-index: 5;
   }

   .btn-outline-light {
      text-transform: uppercase;
   }

   .fa-chevron-down {
      position: absolute;
      bottom: 50px;
      font-size: 30px;
      left: 50%;
      color: $whit-color;
      transform: translate(-50%);
   }
}

.aboutus {
   position: relative;
   height: 100%;
   background-image: url('../img/becool-mini1.jpg');
   background-position: top center;
   background-size: cover;
   background-attachment: fixed;
   color: $darc-color;
   z-index: 0;

   a {
      text-decoration: none;
      color: $darc-color;
   }

   a:hover {
      color: $green-color;
   }

   .aboutus-shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(10, 202, 236, 0.8);
      z-index: -5;
   }

   i {
      margin-top: 20px;
      font-size: 30px;
   }
}

.aboutus-card-title {
   font-size: 24px;
   text-transform: uppercase;
   font-weight: bold;
}

.aboutus-card-text {
   font-size: 18px;
   font-weight: bold;
}

.aboutus-hover {
   transition: color .3s;
}

.aboutus-hover:hover {
   color: $green-color;
}

.aboutus-hero {
   position: relative;
   background-image: url('../img/pipes_640x425.jpg');
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   z-index: 0;

   .aboutus-shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(10, 202, 236, 0.8);
      z-index: -5;
   }

   .aboutus-hero-item {
      margin: 10px 0;

      i {
         font-size: 36px;
      }

      .aboutus-hero-title {
         font-size: 24px;
      }
   }

   // .aboutus .company {
   //    color: $whit-color;
   //    font-weight: bold;
   // }
}

.portfolio {
   .carousel-item {
      position: relative;
      height: 600px;
      // z-index: 0;
   }

   .carousel-caption {
      position: absolute;
      left: 0;
      right: 0;
      padding: 40px 0;
      background-color: rgba(0, 0, 0, .8);
   }

   .carousel-indicators {
      padding-bottom: 20px;
   }

   .card-body {
      background-color: $active-color;
      color: $darc-color;
   }
}

.portfolio h2 {
   padding-top: 40px;
   color: $active-color;
   // font-weight: bold;
}

.portfolio-shadow {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .8);
   z-index: -5;
}

.portfolio .underline {
   background-color: $active-color;
}

.portfolio-img {
   position: relative;
   height: 100%;
   background-image: url('../img/becool-mini.jpg');
   background-position: top center;
   background-size: cover;
   background-attachment: fixed;
   z-index: 0;
}

.contact {
   position: relative;
   background-image: url('../img/contact-hero640.jpg');
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   z-index: 0;
}


.contact h2 {
   padding-top: 30px;
   color: $active-color;
   // font-weight: bold;
}

.contact .underline {
   background-color: $active-color;
}

.contact-shadow {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 9, 27, .8);
   top: 0;
   z-index: -5;
}

.contact-us {
   display: flex;
   align-items: center;
   color: $main-color;

   .contact-item {
      margin: 30px 0;

      h3 {
         margin-bottom: 15px;
         text-transform: uppercase;
         letter-spacing: 2px;
      }

      .social-media {
         font-size: 26px;

         a {
            padding: 10px;
            color: $main-color;
         }

         a:hover {
            color: $active-color;
         }
      }
   }
}

.footer {
   color: $active-color;
   background-color: $darc-color;
}

@media(min-width: 375px) {
   header {
      h1 {
         font-size: 36px;
      }

      p {
         font-size: 16px;
      }
   }


}

@media(min-width: 639px) {
   header .hero-img {
      background-image: url('../img/becool-mini.jpg');
   }

   .aboutus {
      background-image: url('../img/becool-mini.jpg');
   }
}

@media(min-width: 768px) {
   header {
      h1 {
         font-size: 50px;
      }

      p {
         font-size: 30px;
      }
   }
}

@media(min-width: 992px) {
   nav {
      height: 83px;
   }

   .aboutus-hero {
      background-image: url('../img/pipes_1280x851.jpg');
   }
}

@media(min-width: 1200px) {
   header {
      .hero-img {
         background-image: url('../img/becool.jpg');
      }
   }
}